/* Styles Loading...*/

/* All imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    --veryDarkBlue: hsl(243, 87%, 12%);
    --desaturatedBlue: hsl(238, 22%, 44%);
    --brightBlue: hsl(224, 93%, 58%);
    --lightBlue: hsl(228, 45%, 44%);
    --moderateCyan: hsl(170, 45%, 43%);
    --lightGrayishBlue: hsl(240, 75%, 98%);
    --lightGray: hsl(0, 0%, 75%);
}

/* ---font-family to use--- */
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--lightGrayishBlue);
    color: var(--veryDarkBlue);
}

/* Nav styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding: 30px;
}

.nav-container .logo img {
    width: 150px;
    height: 40px;
}

.nav-container .nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin-right: 50px;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
}

/* Get-started styles */
.get-started-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    padding: 30px;
}

.get-started-left p {
    width: 550px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 25px;
}

.get-started-left input {
    width: 250px;
    padding: 8px;
}

.get-started-left button {
    background-color: var(--brightBlue);
    color: #fff;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
}

.get-started-right img {
    width: 700px;
    height: 500px;
}

/* stay-productive styles */
.stay-productive {
    display: flex;
    justify-content: space-between;
    background-image: url(./images/bg-curve-desktop.svg);
    align-items: center;
    font-weight: 500;
    margin-top: 100px;
    padding: 30px;
    padding-top: 150px;
}

.stay-productive-left h1 {
    font-size: 40px;
}

.stay-productive-left .para-1,
.stay-productive-left .para-2 {
    width: 550px;
}

.stay-productive .para-1 {
    margin-top: 30px;
}

.stay-productive .para-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 520px;
}

.stay-productive .underline {
    display: flex;
    width: 180px;
    align-items: center;
    border-bottom: 2px solid var(--moderateCyan);
    cursor: pointer;
}

.stay-productive a {
    text-decoration: none;
    color: var(--moderateCyan);
    margin-right: 5px;
}

.stay-productive-right img {
    width: 500px;
    height: 350px;
}

.stay-productive .card {
    margin-top: 30px;
    background-color: #fff;
    width: 260px;
    border-radius: 5px;
    padding: 20px;
    font-size: 10px;
    box-shadow: 3px 3px 50px var(--lightGray);
}

.stay-productive .quotes-container {
    width: 20px;
    height: 20px;
}

.stay-productive p {
    width: 100%;
}

.stay-productive .bio {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.stay-productive .bio .avatar-container {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.stay-productive .avatar-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.stay-productive .details .name {
    font-weight: 700;
}

/* Access section styles*/
.access-section {
    display: flex;
    justify-content: space-between;
    background-color: var(--desaturatedBlue);
    color: #fff;
    align-items: center;
    margin-top: 100px;
    padding: 70px 30px;
}

.access-section .access-left p {
    margin-top: 20px;
    width: 500px;
}

.access-section .access-right {
    margin-right: 70px;
}

.access-section .access-right input {
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.access-section .access-right button {
    background-color: var(--brightBlue);
    color: #fff;
    margin-top: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

/* contact section styles */
.contact-section {
    background-color: var(--veryDarkBlue);
    padding: 70px 30px;
}

.contact-section .footer-logo {
    /* todo: solve color issues here */
    filter: invert(100%) sepia(100%) saturate(100%);
}

/* footer section */
.attribution { 
    margin-top: 100px;
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: var(--lightBlue);
}

